@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <!-- Hours -->
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">

                            <h6 class="text-uppercase text-muted mb-2">
                                Veículos em estoque
                            </h6>

                            <span class="h2 mb-0">
                                0
                            </span>

                        </div>
                        <div class="col-auto">
                            <span class="h2 fe fe-truck text-muted mb-0"></span>
                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">

                            <h6 class="text-uppercase text-muted mb-2">
                                Saldo da conta
                            </h6>

                            <span class="h2 mb-0">
                                R$ 0.00
                            </span>

                            <span class="badge badge-soft-success mt-n1 d-none">
                                +3.5%
                            </span>
                        </div>
                        <div class="col-auto">
                            <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>
                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">

                            <h6 class="text-uppercase text-muted mb-2">
                                Processos pendentes
                            </h6>

                            <span class="h2 mb-0">
                                0
                            </span>

                        </div>
                        <div class="col-auto">
                            <span class="h2 fe fe-clock text-muted mb-0"></span>
                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>

        </div>
        <div class="col-md-3">

            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">

                            <h6 class="text-uppercase text-muted mb-2">
                                Tempo médio em estoque
                            </h6>

                            <span class="h2 mb-0">
                                0 dias
                            </span>

                        </div>
                        <div class="col-auto">
                            <span class="h2 fe fe-calendar text-muted mb-0"></span>
                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>

        </div>
    </div> <!-- / .row -->
</div>

