<div class="card mt-3">

    <div id="heading-card-sistema" data-target="#collapse-card-sistema" data-toggle="collapse" aria-expanded="true" class="nav-link opentab card-header">
        <a class="ml-3">
            Sistemas
            <span class="badge badge-secondary">Genérico</span>
        </a>
    </div>
    <div id="collapse-card-sistema" class="collapse show" style="">
        <div class="card-body">
            <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#exampleModal">
                Incluir um novo sistema
            </button>

            <div class="table-responsive-xl">
                <table class="table table-sm table-striped table-bordered table-hover mt-3">
                    <thead>
                        <tr>
                            <th width="15%">Código Sistema</th>
                            <th width="20%">Descrição</th>
                            <th>Caption</th>
                            <th>Ícone</th>
                            <th width="50">Bloqueio</th>
                            <th width="50">Ordem</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-active">
                            <td data-title="Código do sistema">
                                Generico
                            </td>
                            <td data-title="Descrição do sistema">
                                Generico
                            </td>
                            <td data-title="Caption do sistema">
                                Genérico
                            </td>
                            <td data-title="Ícone do sistema">
                                <i class="fe fa-cog"></i>
                            </td>
                            <td class="center" data-title="Bloqueio do sistema">
                                False
                            </td>
                            <td class="right" data-title="Ordem do sistema">
                                1
                            </td>
                            <td>
                                <button type="button" idsistema="4" captionsistema="Genérico" class="btn btn-sm btn-white js-ListaModulo">
                                    Lista módulos
                                </button>

                                <button type="button" data-idsistema="4" data-codigosistema="Generico" data-descricaosistema="Generico" data-captionsistema="Genérico" data-bloqueiosistema="False" data-ordemsistema="1" class="btn btn-sm btn-white js-EditarSistema">Editar</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
