@model ApnCore_Crud.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}
<br />
<h2>Deletar</h2>

<h3>Deseja deletar este time ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>
        
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-success" /> |
        <a asp-action="Index">Retorna para a Lista</a>
    </form>
</div>
